{% extends 'base.html.twig' %}

{% block body %}

<section class="head">
    <div class="container">
        <h1>Post your item</h1>
    </div>
</section>

<section>
    <div class="container">
        <form action="/post" method="post">
            <fieldset>
                <legend>Please provide item details</legend>
                <p class="row">
                    <label for="quantity" class="col-md-4 col-xs-12">Quantity:</label>
                    <input type="number" name="quantity" class="col-md-6 col-xs-12" required />
                </p>
                <p class="row">
                    <label for="start_price" class="col-md-4 col-xs-12">Start Price: $</label>
                    <input type="text" name="start_price" class="col-md-6 col-xs-12" required />
                </p>
                <p class="row">
                    <label for="best_offer" class="col-md-4 col-xs-12">Allow Best Offer?</label>
                    <input type="radio" name="best_offer" id="best_offer_1" value="true" />
                    <label for="best_offer_1">Yes</label>
                    <input type="radio" name="best_offer"  id="best_offer_2" value="false" />
                    <label for="best_offer_2">No</label>
                </p>
                <p class="row">
                    <label for="auto_accept" class="col-md-4 col-xs-12">Best Offer Auto Accept Price: $</label>
                    <input type="text" name="auto_accept" class="col-md-6 col-xs-12" required />
                </p>
                <p class="row">
                    <label for="min_offer" class="col-md-4 col-xs-12">Minimum Best Offer Price: $</label>
                    <input type="text" name="min_offer" class="col-md-6 col-xs-12" required />
                </p>
                <p class="row">
                    <label for="title" class="col-md-4 col-xs-12">Item Title:</label>
                    <input type="text" name="title" class="col-md-6 col-xs-12" required />
                </p>
                <p class="row">
                    <label for="description" class="col-md-4 col-xs-12">Item Description:</label>
                    <textarea name="description" class="col-md-6 col-xs-12" required></textarea>
                </p>
                <p class="row">
                    <label for="country" class="col-md-4 col-xs-12">Country:</label>
                    <input type="text" name="country" class="col-md-6 col-xs-12" value="US" readonly />
                </p>
                <p class="row">
                    <label for="city" class="col-md-4 col-xs-12">City:</label>
                    <select name="city" id="city" class="col-md-6 col-xs-12" required>
                        <option selected disabled>Select a city</option>
                        <option value="sfo">San Francisco</option>
                        <option value="dal">Dallas</option>
                        <option value="orl">Orlando</option>
                    </select>
                </p>
                <p class="row">
                    <label for="zip" class="col-md-4 col-xs-12">Zip Code:</label>
                    <input type="text" name="zip" class="col-md-6 col-xs-12" required />
                </p>
                <p class="row">
                    <label for="currency" class="col-md-4 col-xs-12">Currency:</label>
                    <input type="text" name="currency" class="col-md-6 col-xs-12" value="USD" readonly />
                </p>
                <p class="row">
                    <label for="category" class="col-md-4 col-xs-12">Category</label>
                    <input type="text" name="category" class="col-md-6 col-xs-12" value="Audiobooks" readonly />
                </p>
                <p class="row">
                    <label for="condition" class="col-md-4 col-xs-12">Condition:</label>
                    <select name="condition" id="condition" class="col-md-6 col-xs-12" required>
                        <option selected disabled>Condition of item</option>
                        <option value="1000">Great</option>
                        <option value="750">Good</option>
                        <option value="500">Okay</option>
                        <option value="250">Bad</option>
                    </select>
                </p>
                <p class="row">
                    <label for="domestic_shipping" class="col-md-4 col-xs-12">Domestic Shipping Method:</label>
                    <select name="domestic_shipping" class="col-md-6 col-xs-12" required>
                        <option selected disabled>Select a shipping method</option>
                        <option value="basic">Standard</option>
                    </select>
                </p>
                <p class="row">
                    <label for="international_shipping" class="col-md-4 col-xs-12">International Shipping Method:</label>
                    <select name="international_shipping" class="col-md-6 col-xs-12" required>
                        <option selected disabled>Select a shipping method</option>
                        <option value="basic">Standard</option>
                    </select>
                </p>
                <p class="row">
                    <input type="submit" class="btn btn-success col-md-4 col-md-offset-6 text-center" value="Post item" />
                </p>

            </fieldset>
        </form>
    </div>
</section>

{% endblock %}
